.icon-left{
    position: absolute;
    top: 10px;
    left: 10px;
    /* color: blue; */
}


.icon-right{
    position: absolute;
    bottom: 10px;
    right: 10px;    /* 10px from bottom right */
    /* color: blue; */
}

.season-display.winter i {  /*season-display, when it winter, address the i (which is icon for <i className= in seasonDisplay;> */
    color: white;
}

.season-display.summer i {
    color: orange;
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;    /* I originally had 'ALIGN-CONTENT' so take note of align-items; */
    height: 100vh;
}

.winter{
    background-color: rgb(27, 167, 255);
}

.summer{
    background-color: rgb(240, 240, 84);
}